# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/Runner.xcworkspace/

# VS Code
.vscode/

# Env
.env

# Node backend
node_modules/
dist/